<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
		<h1 >DJ ELearning Portal</h1>
		@Html.ActionLink("SigUp", "SignUp", "User")
		@Html.ActionLink("Login", "Login","User")
        @RenderBody()
    </div>
</body>
</html>
