
.DJingoHead {
	background-color: #ff80df;
	text-align: center;
}
.DJTableAlign{
	align-content:center;
}

.HeadTags {
	background-color: #9bd4ac;
	align-items:center;
}
.image{
	background-color:rebeccapurple;
}