
@{
    ViewBag.Title = "Home";
}

<h2>Welcome to DJPortal</h2>

@using (Html.BeginForm())
{
	@Html.ActionLink("Logout","Login","User")
	if (OnlineElearningSystem.Controllers.UserController.role.userRole=="Admin")
	{
		@Html.ActionLink("Handle_User", "Handle_User", "Admin")

	}
	else if(OnlineElearningSystem.Controllers.UserController.role.userRole == "User")
	{
		@Html.ActionLink("","","")
	}
}
